.search-bar {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 97%;
  height: 2rem;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: lightgray;
  border-width: 2px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  outline: none;
  padding: 1rem;
  margin: 0;
}

.search-bar:focus {
  border-color: black;
}
