.student-profile {
  display: flex;
  margin: 10px;
  font-size: 1rem;
}

.profile-pic {
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgb(168, 168, 168);
  height: 15vh;
  margin: 1rem;
}

.student-details {
  font-size: 1.25rem;
  margin: 0.5rem 0 0.5rem 2.5rem;
}

.student-name {
  font-weight: bold;
  font-size: 3rem;
  margin-left: 1rem;
}

.toggle-expand {
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
  padding: 0;
  color: gray;
}

.toggle-collapse {
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
  padding: 0;
  color: gray;
}

#tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  background-color: rgb(201, 201, 201);
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10%;
}
