html,
body {
  background-color: rgb(182, 182, 182);
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #000;
  opacity: 0.2;
}

.profile-container {
  box-sizing: border-box;
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 65vw;
  height: 60vh;
  position: relative;
  box-shadow: 1px 1px 3px gray;
  overflow: auto;
  margin-top: 3rem;
}

.search-bars-container {
  position: relative;
  right: 0;
  left: 0;
  top: 15%;
  width: 65vw;
  height: 3rem;
  margin: auto;
  z-index: 100;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 1px 3px gray;
}

.align {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 65vw;
  margin: 7% auto 0 auto;
}
